In [3]:
import geopandas as gpd

from keplergl import KeplerGl

import numpy as np

In [6]:
mex=gpd.read_file('polygons/spain_municipalities.json')   # cargar datos geoespaciales (multipolygon)

mex.head()

,id,NATCODE,NAMEUNIT,CODNUT2,CODNUT3,geometry
0,NaN,34063939001,Alfoz de Lloredo,ES13,ES130,"MULTIPOLYGON (((-4.26509 43.36463, -4.23642 43..."
1,NaN,34081616177,Reíllo,ES42,ES423,"MULTIPOLYGON (((-1.95643 39.87562, -1.94130 39..."
2,NaN,34081616181,Rozalén del Monte,ES42,ES423,"MULTIPOLYGON (((-2.83110 40.01001, -2.80182 40..."
3,NaN,34081616185,Saceda-Trasierra,ES42,ES423,"MULTIPOLYGON (((-2.88759 40.16463, -2.86313 40..."
4,NaN,34074949069,Figueruela de Arriba,ES41,ES419,"MULTIPOLYGON (((-6.54598 41.93068, -6.53907 41..."

In [7]:
mex.info(memory_usage='deep')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 8205 entries, 0 to 8204
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        0 non-null      float64
 1   NATCODE   8205 non-null   object
 2   NAMEUNIT  8205 non-null   object
 3   CODNUT2   8205 non-null   object
 4   CODNUT3   8205 non-null   object
 5   geometry  8205 non-null   geometry
dtypes: float64(1), geometry(1), object(4)
memory usage: 2.2 MB

In [8]:
mapa_k = KeplerGl(height=600, width=800)   # inicia el mapa


mapa_k.add_data(mex.copy(), 'España')    # se añaden datos y se pone nombre


mapa_k.save_to_html(file_name='mapa_kepler.html')  # guardar

mapa_k   # se pinta

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter
Map saved to mapa_kepler.html!

/home/hefesto/anaconda3/lib/python3.9/site-packages/jupyter_client/session.py:718: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(data={'España': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, …